body {
	font-family: "Verdana", sans-serif;
}

li {
	border: 1px solid black;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

li span {
	padding-left: 2em;
}

ul {
	list-style: none;
	padding-left: 0em;
}

.playing {
	font-weight: bold;
}

#audio-card-container, #audio-player-container, #audio-controls, #title {
	text-align: center;
}

#audio-controls button { 
	font-weight: bold;
	font-size: 1em;
	color: #f0f0f0;
	background-color: #181818;
	border-radius: 0.5em;
}

#audio-controls button:disabled { 
	background-color: gray;
}


#audio-card-container {
	padding-top: 0.5em;
	padding-bottom: 1em;
}

#audio-player {
	width: 50%;
}

#title h1 {	
	color: #000000;
	text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
}


#tracks {
	background-color: #FFFFFF;
	opacity: 0.75;
}

#tracks .playing {
	color: #FFFFFF;
	background-color: #000000;
	text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

#tracks .looping {
	background-color: blue;
}

#vgm-tracks, #audio-controls button {
	cursor: pointer;
}