li {
	border: 1px solid black;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

li span {
	padding-left: 2em;
}

ul {
	list-style: none;
	padding-left: 0em;
}

.playing {
	font-weight: bold;
}

#audio-player-container, #audio-controls, #title {
	text-align: center;
}

#title h1 {	
	color: #FFFFFF;
}

#tracks {
	background-color: #FFFFFF;
	font-family: "Verdana", sans-serif;
	opacity: 0.75;
}

#tracks .playing {
	color: #FFFFFF;
	background-color: #000000;
}

#vgm-tracks {
	cursor: pointer;
}