.playing {
	font-weight: bold;
}

#audio-player-container, #audio-controls, #title {
	text-align: center;
}

#title h1 {	
	color: #FFFFFF;
}

#tracks {
	font-family: "Verdana", sans-serif;
	background-color: #FFFFFF;
	opacity: 0.75;
}